<!DOCTYPE html>
<html lang="en">
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="submit">
</form>
</body>
</html>