<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <style type="text/css">
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
Download links:
<ul>
    {% for link in paths %}
        <li><a href="{{ link }}">{{ link }}</a></li>
    {% endfor %}
</ul>
</body>
</html>